<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>

    <style>
        .msj {
            text-align: center;
            margin: auto;
            width: 50%;
            padding: 200px;
            font-size: 20px;
        }

        small {
            color: gray;
        }
    </style>
</head>
<body>
    <div class="msj">

        {% if error_file %}
         <p>Archivo "<strong>{{ error_file }}</strong>" no permitido </p>
            <p><small>El archivo debe estar en formato <strong>txt</strong></small></p>

        {% elif error_url %}

            <p>La URL "<strong>{{ url }}</strong>" retorna error: {{error_url }} </p>

        {% endif %}


    <br>
    <a href="/">Regresar</a>
        </div>
</body>
</html>