<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buscador Python</title>

    <style>
        body{    text-align: center;
            margin: auto;
            width: 50%;
            padding: 150px;}
    </style>
</head>
<body>


<h1>Convertir divisas</h1>

<form method=post>

    <input name="amount" type="number" placeholder="Cantidad" required >
    <select name="c_from" id="">
        <option value="MXN">Pesos Mexicanos</option>
        <option value="COP">Pesos Colombianos</option>
    </select>
    a:
    <select name="c_to" id="">
         <option value="EUR">Euros</option>
         <option value="USD">Dolares USA</option>
         <option value="GBP">Libras Esterlinas</option>
         <option value="JPY">Yenes Japoneses</option>
         <option value="CHF">Fracos Suizos</option>
    </select>

    <br><br>
    <input type=submit value=Convertir>

    <br><br><br>

   [ <a href="/">Ir a buscador</a> ]

</form>

</body>
</html>