<!DOCTYPE html>
<html lang="en">
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
    span{
        color: gray;
    }


</style>
    <meta charset="UTF-8">
    <title>Practica #1</title>

    <a href="/">Regresar</a>

    <h1>Resultado: </h1>

    {% if filename %}
    <p>Archivo: <a href="/file/{{ filename }}"  target="_blank">{{ filename }}</a></p>
    {% else %}
     <p>URL: <a href="{{ url }}" target="_blank">{{ url }}</a></p>
    {% endif %}


    <hr>

    {% if search_result %}
        <span>La palabra {{ search_key }} aparece {{ search_result }} veces ({{ benchmark }} segundos)</span>
    {% else %}
        <span>No se encuentra la palabra {{ search_key }} ({{ benchmark }} segundos) </span>
    {% endif %}
    <br>
    <br>
        <table>
        <tr>
            <th>No. </th>
            <th>Palabra</th>
            <th>Frecuencia</th>

        </tr>



    {% for w, c in words_result %}
          <tr>
            <td>  {{loop.index}}</td>
            <td>  {{ w }}</td>
            <td>  {{ c }}</td>
          </tr>
    {% endfor %}


        </table>

</head>
<body>

</body>
</html>